@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1477559703');
  /* IE9*/
  src: url('../fonts/iconfont.eot?t=1477559703#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1477559703') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1477559703') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1477559703#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-svg {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1em;
  height: 1em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}
.icon-ticket:before {
  content: "\e609";
}
.icon-activity:before {
  content: "\e604";
}
.icon-date:before {
  content: "\e605";
}
.icon-setting:before {
  content: "\e60a";
}
.icon-complete-resume:before {
  content: "\e60e";
}
.icon-quick-money:before {
  content: "\e60f";
}
.icon-location:before {
  content: "\e607";
}
.icon-arrow-bottom:before {
  content: "\e600";
}
.icon-arrow-top:before {
  content: "\e601";
}
.icon-arrow-left:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e603";
}
.icon-professional-skills:before {
  content: "\e614";
}
.icon-tao-tu:before {
  content: "\e610";
}
.icon-badge:before {
  content: "\e60b";
}
.icon-filter:before {
  content: "\e656";
}
.icon-resume:before {
  content: "\e60c";
}
.icon-feedback:before {
  content: "\e66c";
}
.icon-pocket:before {
  content: "\e60d";
}
.icon-identity-confirm:before {
  content: "\e611";
}
.icon-credit-store:before {
  content: "\e612";
}
.icon-recommendation:before {
  content: "\e61b";
}
.icon-hot-news:before {
  content: "\e620";
}
.icon-home:before {
  content: "\e621";
}
.icon-discover:before {
  content: "\e622";
}
.icon-find-job:before {
  content: "\e623";
}
.icon-my:before {
  content: "\e624";
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #F7F6F6;
}
.m-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.m-dialog-active {
  z-index: 1100;
}
.m-dialog-active > div {
  display: block;
}
.m-dialog-active .m-scroller {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.m-dialog-mark {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.m-scroller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translate3d(0, 100%, 0);
     -moz-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform .5s ease;
     -moz-transition: -moz-transform .5s ease;
       -o-transition: -o-transform .5s ease;
          transition: transform .5s ease;
  visibility: hidden;
}
.m-scroller-head {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 14px;
  overflow: hidden;
}
.m-scroller-head:after {
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-transform: scaleY(0.5);
     -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
       -o-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
}
.m-scroller-head a {
  padding: 0 10px;
  color: #8493a8;
}
.m-scroller-head a:first-child {
  float: right;
}
.m-scroller-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.m-scroller-body > div {
  width: 100%;
}
.m-scroller-body .scroller-component {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.navbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar-container .weui-tabbar-item {
  padding: 0;
}
.navbar-container .weui-tabbar-icon {
  display: block;
  width: auto;
  text-align: center;
  height: 0.8rem;
  color: #999999;
}
.navbar-container .weui-tabbar-icon i {
  font-size: 0.7rem;
  display: block;
}
.navbar-container .weui-bar-item-on i {
  color: #FFDD00;
}
.navbar-container .weui-bar-item-on p.weui-tabbar-label {
  color: #999999!important;
}
.navbar-container .weui-tabbar-label {
  color: #999999;
  font-size: 0.293rem;
  margin: 0.05rem 0 0.133rem 0;
}
.nav-bar-wrap {
  height: 2.133rem;
}
.p-find-job {
  padding-top: 0.266rem;
}
.p-find-job a {
  color: inherit;
}
.p-find-job a.item {
  display: block;
}
.p-find-job .header {
  height: 2.6rem;
  padding: 0 0.333rem;
}
.p-find-job .header .tab-row {
  height: 1.026rem;
  margin-bottom: 0.433rem;
  -webkit-border-radius: 0.15rem;
     -moz-border-radius: 0.15rem;
          border-radius: 0.15rem;
  background-color: #D2D2D2;
}
.p-find-job .header .tab-row .job-type {
  float: left;
  width: 50%;
  height: 1.026rem;
  text-align: center;
  line-height: 1.026rem;
  font-size: 0.453rem;
  color: inherit;
}
.p-find-job .header .tab-row .job-type.active {
  background-color: #FFDD00;
}
.p-find-job .header .tab-row .job-type:last-child {
  -webkit-border-top-right-radius: 0.15rem;
     -moz-border-radius-topright: 0.15rem;
          border-top-right-radius: 0.15rem;
  -webkit-border-bottom-right-radius: 0.15rem;
     -moz-border-radius-bottomright: 0.15rem;
          border-bottom-right-radius: 0.15rem;
}
.p-find-job .header .tab-row .job-type:first-child {
  -webkit-border-top-left-radius: 0.15rem;
     -moz-border-radius-topleft: 0.15rem;
          border-top-left-radius: 0.15rem;
  -webkit-border-bottom-left-radius: 0.15rem;
     -moz-border-radius-bottomleft: 0.15rem;
          border-bottom-left-radius: 0.15rem;
}
.p-find-job .header .filter-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.626rem;
}
.p-find-job .header .filter-row .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.266rem;
  height: 0.8rem;
  -webkit-border-radius: 0.133rem;
     -moz-border-radius: 0.133rem;
          border-radius: 0.133rem;
  line-height: 0.8rem;
  text-align: center;
  background-color: white;
}
.p-find-job .header .filter-row .item.on-select {
  background-color: #FEEE8F;
}
.p-find-job .header .filter-row .item:last-child {
  margin-right: 0;
}
.p-find-job .header .filter-row .item div {
  display: inline-block;
}
.p-find-job .job-item-container {
  min-height: 18rem;
}
.p-find-job .job-item-container .item {
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.2rem;
  background-color: white;
}
.p-find-job .job-item-container .item .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.16rem 0;
  height: 0.666rem;
  color: #333333;
}
.p-find-job .job-item-container .item .row p {
  margin: 0;
}
.p-find-job .job-item-container .item .row .type {
  height: 0.533rem;
  width: 1.106rem;
  margin-right: 0.133rem;
  text-align: center;
  color: white;
  line-height: 0.533rem;
  background-color: #50D99D;
}
.p-find-job .job-item-container .item .row .type.to-door {
  background-color: #FC6359;
}
.p-find-job .job-item-container .item .row .job-title {
  margin-left: 0.133rem;
}
.p-find-job .job-item-container .item .row .tag {
  padding: 0 0.066rem;
  background-color: #FFEEE4;
  -webkit-border-radius: 0.15rem;
     -moz-border-radius: 0.15rem;
          border-radius: 0.15rem;
  margin-left: 0.2rem;
}
.p-find-job .job-item-container .item .row .tag.verified {
  color: #57A4E7;
  background-color: inherit;
  border: 1px solid #57A4E7;
}
.p-find-job .job-item-container .item .row .pricing {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.p-find-job .job-item-container .item .row .pricing strong {
  padding-right: 0.1rem;
  font-size: 0.4rem;
  color: #FF9933;
  font-weight: 300;
}
.p-find-job .job-item-container .item .row .publish-time {
  margin: 0 0.25rem 0 0;
}
.p-find-job .job-item-container .item .row.time-related {
  font-size: 0.346rem;
}
.p-find-job .job-item-container .item .row.auther-related {
  color: #57A4E7;
}
.p-find-job .job-item-container .item .icon-quick-money {
  color: #C12C20;
}
.p-find-job .job-item-container .item .icon-tao-tu {
  color: #FACD89;
  font-size: 0.6rem;
}
.select-art {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.15625rem;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
.select-art.select-art-current {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.select-art-warp {
  position: relative;
  height: 100%;
  padding: 0.3125rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 0.15625rem;
     -moz-border-radius: 0.15625rem;
          border-radius: 0.15625rem;
  background-color: #fff;
}
.select-art-warp .mui-scroll-wrapper {
  top: 0.3125rem;
  left: 0.3125rem;
  padding-bottom: 1rem;
}
.select-art-warp .select-art-item {
  margin-bottom: 1.25rem;
}
.select-art-warp .select-art-bd {
  font-size: 0;
  -webkit-text-size-adjust: none;
  overflow: hidden;
}
.select-art-tit {
  margin-bottom: 0.625rem;
  color: #333;
  font-size: 14px;
}
.select-art-bd {
  font-size: 0;
  -webkit-text-size-adjust: none;
  overflow: hidden;
}
.select-art-bd .current {
  color: #fff;
  background-color: #ff5f2e;
}
.select-art-bd span {
  display: inline-block;
  width: 2rem;
  padding: 0.125rem 0;
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem;
  -webkit-border-radius: 0.09375rem;
     -moz-border-radius: 0.09375rem;
          border-radius: 0.09375rem;
  text-align: center;
  color: #757575;
  font-size: 12px;
  background-color: #f4f4f4;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.select-art-item {
  margin-bottom: 1.25rem;
}
.city-eidt {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-left: 0.3125rem;
  color: #333;
}
.select-art-bd-cont {
  width: 9.25rem;
}
.select-art-btn {
  height: 1.333rem;
  display: block;
  margin-bottom: 1rem;
  background-color: #fe5807;
  width: 50%;
  left: 0;
  margin: 0 auto;
  text-align: center;
  line-height: 1.333rem;
  color: white;
  font-size: 0.5rem;
  -webkit-border-radius: 0.133rem;
     -moz-border-radius: 0.133rem;
          border-radius: 0.133rem;
}
.mui-scroll-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.mui-scroll {
  position: absolute;
  z-index: 1;
  width: 100%;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 1.333rem;
}
