.app {
  width: 10rem;
  height: 100%;
  margin: 0 auto;
}
.head {
  text-align: center;
  font-size: 0.64rem;
}
.head .title {
  padding-top: 0.7rem;
  color: #0099ff;
}
.head .view-center {
  display: block;
  border: 0;
  -webkit-border-radius: 0.133rem;
     -moz-border-radius: 0.133rem;
          border-radius: 0.133rem;
  padding: 0.25rem 0;
  color: #333333;
  background-color: #ffdd00;
}
.bottom-wrap {
  height: 4.733rem;
  padding: 0.8rem;
  color: white;
  font-size: 0.466rem;
  text-align: center;
}
.bottom-wrap .bottom-text {
  margin-bottom: 0.133rem;
}
.bottom-wrap .bottom-text.special {
  color: #34a8fd;
}
.bottom-wrap .share-code {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.2rem 0;
  margin: 0 auto;
  font-size: 0.4rem;
  color: white;
  background-color: #09f;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.icon-wrap .iconfont {
  font-size: 0.6rem;
}
.generate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 100%;
  background-image: url("../img/bg_wechat.png");
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  background-position: center;
}
.generate .phone-wrap {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 4.56rem;
  text-align: center;
}
.generate .phone-wrap .code-img {
  width: 4.56rem;
}
.generate .bottom-wrap {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  width: 10rem;
  background-image: url("../img/bg_bottom.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
}
.generate .bottom-wrap .view-center {
  display: block;
  border: 0;
  -webkit-border-radius: 0.133rem;
     -moz-border-radius: 0.133rem;
          border-radius: 0.133rem;
  padding: 0.25rem 0;
  color: #333333;
  background-color: #ffdd00;
}
